h1 {
  color: rgb(32, 33, 36);
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 8px;
}

body {
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

.weather-app-wrapper {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}

#buttonCurrent {
  margin-left: -25px;
}

.weather-forecast h3 {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-top: 7px;
  text-align: center;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(32, 33, 36);
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast {
  margin-top: 40px;
}

.form-style {
  padding: 0 2px;
}

#search-from {
  margin-bottom: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-bottom: 1px solid #9b9aa1;
}

.date-condition {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}

.conditions {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: inline-block;
  position: top;
}

.conditions ul {
  margin: 0;
  padding: 0;
}

#temperature {
  color: rgb(32, 33, 36);
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

#cel-far {
  color: rgb(32, 33, 36);
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  padding-right: 6px;
  vertical-align: top;
}

img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

#cel-far a {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
