h1 {
  color: #4c514a;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: #e06445;
}

a:hover {
  color: #e08872;
}

img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

small {
  color: #909090;
  font-family: arial, sans-serif;
  font-size: 8px;
}

.weather-app-wrapper {
  padding: 10px;
  border: 5px solid;
  border-image-source: linear-gradient(
    45deg,
    rgb(224, 100, 69),
    rgb(177, 177, 177)
  );
  border-image-slice: 1;
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-bottom: 1px solid #9b9aa1;
}

.search {
  background: #e06445;
  color: white;
  border: 1px solid #e06445;
}

.form-style {
  padding: 0 2px;
}
.form-style:active,
.form-style.focus {
  outline: none !important;
  box-shadow: none;
}

#search-from {
  margin-bottom: 20px;
}

.search:hover,
.search:focus {
  cursor: pointer;
  background-color: #e08872;
  border: 1px solid #e08872;
  outline: none !important;
  box-shadow: none;
  transition: background 200ms ease, border-color 200ms ease;
}

#buttonCurrent {
  margin-left: -25px;
}

.current {
  background-color: white;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  outline: none;
}

.current:hover,
.current:focus,
.current:visited {
  cursor: pointer;
  outline: none !important;
  box-shadow: none;
  background: #b1b1b1;
  border: 1px solid #b1b1b1;
  color: white;
  transition: background 200ms ease, border-color 200ms ease;
}

.date-condition {
  color: #909090;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}

.conditions {
  color: #909090;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: inline-block;
  position: top;
}

.conditions ul {
  margin: 0;
  padding: 0;
}

#temperature {
  color: #4c514a;
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

#cel-far {
  color: #4c514a;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  padding-right: 6px;
  vertical-align: top;
}

#cel-far a {
  text-decoration: none;
}

.active {
  color: #4c514a;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #4c514a;
}

.weather-forecast {
  margin-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.weather-forecast h3 {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  color: #909090;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-top: 7px;
  text-align: center;
}

.weather-forecast-temperature {
  text-align: center;
  color: #4c514a;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
